In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Show just the header
#see what i got on a data front
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# If it wasn't for the example, I probably would have used purchase ID, but the numbers didn't match, which made me think that ScreenName would probably be better
# Calculate the total number of players in the DataFrame
playercount = len(purchase_data["SN"].unique())
playercount

576

In [4]:
playercount = pd.DataFrame({"Total Players":[playercount]})
playercount

   Total Players
0            576

In [5]:
### Purchasing Analysis (Total)
#Number of Unique Items
UniqueItems = len(purchase_data["Item Name"].unique())
UniqueItems

179

In [6]:
#avg purchase price
AvgPrice = purchase_data["Price"].mean()
AvgPrice

3.050987179487176

In [7]:
#Total Number of Purchases
NumberPurchases = len(purchase_data["Purchase ID"].unique())
NumberPurchases

780

In [8]:
#Total Revenue
TotalRev = purchase_data["Price"].sum()
TotalRev

2379.77

In [9]:
# Place all of the data found into a summary DataFrame
summary_table2 = pd.DataFrame({"Number of Unique Items": UniqueItems,
                              "Average Price": [AvgPrice],
                              "Number of Purchases": NumberPurchases,
                              "Total Revenue": [TotalRev]})
summary_table2

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
summary_table2["Average Price"] = summary_table2["Average Price"].astype(float).map(
    "${:,.2f}".format)
summary_table2["Total Revenue"] = summary_table2["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
summary_table2

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [11]:
PlayerGender = purchase_data["Gender"].value_counts()
PlayerGender.head(10)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
GroupedGender = purchase_data.groupby("Gender")
print(GroupedGender)
GroupedGender.count().head(10)
#Initially had gender in [] and had to Google to try ()
#I need to really hammer the difference between the two into my brain
#####

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000026D26E20470>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [18]:
#Remove Doubles
#Took me forever to figure this out
# Count the total of screen names "SN" by gender
TrueGender = len(GroupedGender["SN"].unique())
TrueGender

3

In [ ]:
#Percentage of Players
PlayerGender2 = PlayerGender.sum()
PlayerGender2

In [ ]:
MalePer = PlayerGender["Male"] / PlayerGender2
MalePer

In [ ]:
FemalePer = PlayerGender["Female"] / PlayerGender2
FemalePer

In [ ]:
OtherPer = PlayerGender["Other / Non-Disclosed"] / PlayerGender2
OtherPer

In [ ]:
# Place all of the data found into a summary DataFrame
#summary_table3 = pd.DataFrame({"Total Count": PlayerGender,
 #                             "Percentage of Players": [PlayerPercent],
  #                           })
#summary_table3

In [ ]:
### Purchasing Analysis (Gender)
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

In [ ]:
PurchaseCount = GroupedGender["SN"].count()
PurchaseCount

In [ ]:
AvgPurPrice = GroupedGender["Price"].mean()
AvgPurPrice

In [ ]:
TotalPurPrice = GroupedGender["Price"].sum()
TotalPurPrice

In [ ]:
AvgPerPerson = TotalPurPrice / PurchaseCount
AvgPerPerson
#This is wrong, but I have to figue out how to do it

In [ ]:
summary_table4 = pd.DataFrame({"Purchase Count": PurchaseCount, "Average Purchase Price": AvgPurPrice, "Total Purchase Value": TotalPurPrice, "Avg Total Purchase Per Person": AvgPerPerson})
summary_table4.head()

In [ ]:
summary_table4["Average Purchase Price"] = summary_table4["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
summary_table4["Total Purchase Value"] = summary_table4["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
summary_table4["Avg Total Purchase Per Person"] = summary_table4["Avg Total Purchase Per Person"].astype(float).map(
    "${:,.2f}".format)
summary_table4

In [ ]:
purchase_data.head()

In [ ]:
### Age Demographics* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [ ]:
#create the bins
bins = [9, 14, 19, 24, 29, 34, 39, 150]

# Create the names for the four bins
group_names = ("<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+")

In [ ]:
purchase_data["AgeDemographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data